# {{ ansible_managed }}
[Unit]
{% if task_description %}
Description={{ task_description }}
{% endif %}

[Service]
Type=oneshot
{% if task_docker is defined and task_docker %}
ExecStart=/bin/docker run --name=%N --rm \
{% if task_docker.network is defined and task_docker.network %}
                          --net={{ task_docker.network }} \
{% endif %}
{% for m in (task_docker.mounts|default([])) %}
                          --mount type={{ m.type }},src={{ m.src }},dst={{ m.dst }}{% if m.readonly|default(false) %},ro{% endif %} \
{% endfor %}
{% for k, v in (task_docker.environment|default({})).items() %}
                          -e {{ k }}={{ v }} \
{% endfor %}
                          {{ task_docker.image }} {% if task_command is defined %}{{ task_command }}{% endif %}

{% else %}
ExecStart={{ task_command }}
{% endif %}
ExecStartPost={{ periodic_task_on_success_install_path }} %N
